## database

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

## test

DB_NAME_TEST=

## jwt

SECRET_KEY=
JWT_SECRET_KEY=

## sentry

SENTRY_SECRET_KEY=
SENTRY_DB_NAME=

## collector

OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=
OTEL_TRACES_EXPORTER=
OTEL_METRICS_EXPORTER=

## loki

LOKI_URL=

## github

GITHUB_API_URL=
GITHUB_API_TOKEN=


